<html>
  <head>
    <%= stylesheet_link_tag 'single_user' %>
  </head>

  <body>
    <% if @user %>
      <%= render 'shared/user_card', user: @user %>

      <div class="user-bio">
        <h2>Bio</h2>
        <p><%= h(@user.bio) %></p>
      </div>
    <% else %>
      <p>User not found.</p>
    <% end %>

    <hr>

    <%= render partial: 'shared/posts_card', locals: { posts: @user.posts } %>

    <div class='buttons'>
      <%= button_to "View All Posts", user_posts_path(user_id: @user.id), method: :get, class: "btn btn-primary" %>
    </div>

  </body>
</html>
