<html>

<body>
  <div class="User-profile">
    <% if @user %>
      <%= render 'shared/user_card', user: @user %>

    <div class="User-bio">
      <h2>Bio</h2>
      <% if @user.bio.present? %>
        <p><%= h(@user.bio) %></p>
      <% else %>
        <p>Bio not found</p>
      <% end %>
    </div>

      <% else %>
      <p>User not found.</p>
    <% end %>

    <hr>

    <%= render partial: 'shared/posts_card', locals: { posts: @user.posts } %>

    <div class="User-actions">
      <%= button_to "Go Back", users_path, method: :get, class: "Go-back-button" %>
      <%= button_to "View All Posts", user_posts_path(user_id: @user.id), method: :get, class: "Submit-button" %>
    </div>
  </div>
</body>
</html>
