<div class="Posts-section">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="Post-item">
        <div class="Post-actions">
          <h3><%= link_to post.title, user_post_path(user_id: post.author_id, id: post.id), class: "Post-title" %></h3>
          <% if current_user == post.user || can?(:delete, post) %>
            <%= link_to 'Delete', delete_post_path(user_id: post.author_id, id: post.id), data: { turbo_method: :delete, turbo_confirm: 'Delete Post?' }, class: "Delete-button" %>
          <% end %>
        </div>
        <p><%= post.text %></p>
        <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
        <%= render_comments_section(post) %>
      </div>
    <% end %>
  <% else %>
    <p>No posts found.</p>
  <% end %>
</div>
