<%  PostsHelper %>

<!-- app/views/posts/index.html.erb -->
<html>
  <head>
    <%= stylesheet_link_tag 'posts_style' %>
  </head>
  <body>
    <%= render 'shared/user_card', user: @user %>
    
    <%= notice %>
    <%= alert %>
    <%= render 'posts_display' %>

    <div class='buttons'>
      <%=button_to 'New Post', new_user_post_path, method: :get, class: 'btn btn-primary' %>
      <button class="btn btn-primary">pagination</button>
    </div>
  </body>
</html>
