<%  PostsHelper %>

<!-- app/views/posts/index.html.erb -->
<html>
  <head>
    <%= stylesheet_link_tag 'posts_style' %>
  </head>
  <body>
    <%= render 'shared/user_card', user: @user %>
    
    <%= notice %>
    <%= alert %>
    <%= render 'posts_display' %>

    <%=link_to 'New Post', new_user_post_path, class: 'btn btn-primary' %>

    <button class="btn btn-primary">pagination</button>
  </body>
</html>
